/* Operation column */
div.operations * div.md-typeset__table * th:nth-child(1), div.operations * div.md-typeset__table * td:nth-child(1) {
  min-width: 120px; 
} 

@media (max-width: 768px) {  /* only on small screens */
  /* Description column */
  div.operations * div.md-typeset__table * th:nth-child(2), div.operations * div.md-typeset__table * td:nth-child(2) {
    min-width: 200px; 
  } 
  /* Args column */
  div.operations * div.md-typeset__table * th:nth-child(3), div.operations * div.md-typeset__table * td:nth-child(3) {
    min-width: 200px; 
  } 
}