myenv/**
out/
.idea/
.cache/
.bsp/
project/project
project/target
target/
null/
private/doc/**/_minted*/
private/doc/**/*.aux
private/doc/**/*.bbl
private/doc/**/*.bst
private/doc/**/*.blg
private/doc/**/*.log
private/doc/**/*.out
private/doc/**/*.cb
private/doc/**/*.cb2
private/doc/**/*.synctex.gz
private/doc/fpga2018/fpga2018.pdf
private/doc/fpl2019/fpl2019.pdf
site/
sandbox/
.scala-build/
.metals/
.bloop/
/project/.bloop/**
.vscode/
project/metals.sbt
**/__pycache__/**
node_modules/
package.json
package-lock.json
