.idea/
project/project
project/target
target/
doc/**/_minted*/
doc/**/*.aux
doc/**/*.bbl
doc/**/*.bst
doc/**/*.blg
doc/**/*.log
doc/**/*.out
doc/**/*.cb
doc/**/*.cb2
doc/**/*.synctex.gz
doc/fpga2018/fpga2018.pdf
doc/fpl2019/fpl2019.pdf


