:root {
    --node-highlight-fill-color-1: #FFF;
    --node-highlight-fill-color-2: #DDD;
    --node-highlight-fill-color-3: #4bF;
    --node-highlight-fill-color-4: #F88;
    --node-highlight-fill-color-5: #FE6;
    --node-highlight-fill-color-6: #7e0;
    --node-fill-color: #FFF;
    --node-stroke-color: #666;
    --node-name-text-color: #666;
    --node-highlight-name-text-color-1: #DDD;
    --node-highlight-name-text-color-2: #222;
    --node-highlight-name-text-color-3: #46C;
    --node-highlight-name-text-color-4: #922;
    --node-highlight-name-text-color-5: #A90;
    --node-highlight-name-text-color-6: #350;
    --node-type-text-color: #666;
    --node-port-name-text-color: #FFF;
    --node-port-fill-color: #777;
    --port-fill-color: #000;
    --port-text-color: #FFF;
    --port-highlight-fill-color-1: #DDD;
    --port-highlight-fill-color-2: #444;
    --port-highlight-fill-color-3: #06d;
    --port-highlight-fill-color-4: #C00;
    --port-highlight-fill-color-5: #980;
    --port-highlight-fill-color-6: #590;
    --edge-label-fill-color: #EEE;
    --edge-label-text-color: #777;
    --edge-label-highlight-fill-color-1: #DDD;
    --edge-label-highlight-fill-color-2: #222;
    --edge-label-highlight-fill-color-3: #46C;
    --edge-label-highlight-fill-color-4: #922;
    --edge-label-highlight-fill-color-5: #A90;
    --edge-label-highlight-fill-color-6: #350;
    --edge-color: #888;
    --edge-highlight-color-1: #DDD;
    --edge-highlight-color-2: #444;
    --edge-highlight-color-3: #06d;
    --edge-highlight-color-4: #C00;
    --edge-highlight-color-5: #980;
    --edge-highlight-color-6: #590;
    --edge-bus-color: #AAA;
    --edge-bus-highlight-color-1: #DDD;
    --edge-bus-highlight-color-2: #444;
    --edge-bus-highlight-color-3: #06d;
    --edge-bus-highlight-color-4: #C00;
    --edge-bus-highlight-color-5: #980;
    --edge-bus-highlight-color-6: #590;
}