/* Hiding header */
.md-typeset h1,
.md-content__button {
  display: none;
}

/* Big scastie, for in-browser chapter */
div.scastie.embedded {
  margin-left: -0.6rem;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: calc(100% + 1.2rem);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* No need for console limitation, since the page vertical scroll will do */
  div.output-console {
    height: auto;
  }
}

/* getting rid of redundant margins, padding and spaces */
.md-main__inner {
  margin-top: 0px;
}  
article.md-content__inner.md-typeset {
  padding-top: 0px;
}
.md-content__inner::before {
  height: 0px;
}