div.output-console * {
  color: white
}

html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset details.dfiant div.scastie.embedded {
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 0px;
}

html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset details.dfiant div.scastie.embedded div.app.light div.main-panel div.content div.editor-container.inner-container div.code ul.embedded-menu {
top: -60px;
left: 200px;
right: 300px;
}

html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset details.dfiant div.scastie.embedded div.app.light div.main-panel div.content div.editor-container.inner-container div.code ul.embedded-menu li.btn.run-button {
margin-top: 5px;
padding-bottom: 0px;
padding-top: 0px;
background-color: #ecf3ff;
}

html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset details.dfiant div.scastie.embedded div.app.light div.main-panel div.content div.editor-container.inner-container div.code ul.embedded-menu li.logo {
margin-top: -43px;
margin-left: 120px;
padding-top: 0px;
padding-bottom: 0px;
background-color: #ecf3ff;
}

.md-typeset .admonition, .md-typeset details {
padding: 0 0rem;
}
.md-typeset .admonition-title, .md-typeset summary {
margin: 0 -.6rem 0 -0.2rem;
}


html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset details.dfiant div.scastie.embedded {
padding-right: 35px;
}

html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset details.dfiant p {
margin-bottom: 0px;
margin-top: 0px;
}