name: Build

on:
  push:
    branches:
      - main
      - dev
      - scala_opencb
    paths-ignore:
      - 'docs/**'
      - 'docs_overrides/**'
      - 'mkdocs.yml'  
      - '.github/workflows/dfdocs.yml'
  pull_request:
    branches: 
      - main
      - dev
      - scala_opencb
    paths-ignore:
      - 'docs/**'
      - 'docs_overrides/**'
      - 'mkdocs.yml'
      - '.github/workflows/dfdocs.yml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Scala
        uses: coursier/setup-action@v1
        with:
          jvm: terumin:1.17
          apps: sbt bloop
      - name: Setup All Simulation Tools but NVC
        uses: YosysHQ/setup-oss-cad-suite@v3
      - name: Setup Homebrew (for NVC)
        uses: Homebrew/actions/setup-homebrew@master
      - name: Setup NVC
        run: brew install nvc
      - run: |
          verilator -version
          iverilog -V
          ghdl version
          nvc --version
      - name: Run tests
        run: sbt test